.product-info-parcelamento {
    position: absolute;
    margin-top: -40px;
}

.product-info-main .product-info-stock-sku {
    padding-bottom: 0!important;
}

.product-options-bottom .price-box, .product-info-price .price-box {
    padding-bottom: 20px!important;
}

.product-lista-parcelamento {
    position: absolute;
    margin-top: -25px;
}